.auth-container {
    height: 75vh !important;
    width: 50% !important;
    display: flex !important;
    text-align: center !important;
    color: Black !important;
    margin: auto !important;
    margin-top: 50px !important;
}

.lgnToggle {
    display: flex !important;
    flex-direction: bottom !important;
    height: 50px !important;
    align-items: center !important;
    margin: auto !important;

}

.lgnRow {
    height: 100% !important;
    margin: auto !important;
    display: flex !important;
    flex-direction: bottom !important;
}

.lgnTitle {
    padding-left: 100px;
    padding-right: 100px;
    border-style: outset;
    border-radius: 50px;
    padding-bottom: 10px;
    background-color: #4c495d;
}